################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.bash_history
/.cache
/.codetogether
/.conda
/.condarc
/.config
/.continuum
/.ctsystem
/.dotnet
/.emulator_console_auth_token
/.gitconfig
/.gnupg
/.gradle
/.ipynb_checkpoints
/.ipython
/.jupyter
/.keras
/.Ld9VirtualBox
/.librarymanager
/.m2
/.matplotlib
/.nuget
/.Protege
/.vscode
/3D Objects
/anaconda3
/AndroidStudioProjects
/AppData
/AppMods
/Contacts
/Desktop
/Documents
/Downloads
/Favorites
/java_error_in_studio64.hprof
/Links
/Music
/myprojectwith3
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/pinokio
/PycharmProjects
/Recorded Calls
/Saved Games
/Searches
/source
/Videos
/Zotero
